<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <package name="cn.doublefloat.fangxxshop.entity"/>
    </typeAliases>

    <mappers>
        <mapper resource="cn/doublefloat/fangxxshop/dao/mapper/IUserDaoMapper.XML"/>
        <mapper resource="cn/doublefloat/fangxxshop/dao/mapper/ICategoryDaoMapper.XML"/>
        <mapper resource="cn/doublefloat/fangxxshop/dao/mapper/IGoodsDaoMapper.XML"/>
    </mappers>
</configuration>